<div ng-cloak>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <div ng-switch="isAuthenticated()">
                <div  ng-switch-when="true">
                    <div>
                        <img src="/assets/images/apple_dribbble.gif" ng-if="handshakeInProgress">
                    </div>
                    <button class="btn btn-primary" ng-click="askForHandshake()" ng-if="!handshakeInProgress">askForHandshake</button>
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                    If you want to <a class="alert-link" href="#/login">sign in</a>
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                    You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                </div>
            </div>


        </div>
    </div>
</div>
