.chat_window {
    max-width: 800px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
    /*transform: translateX(-50%) translateY(-50%);*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}

.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
}

.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 347px;
    overflow: scroll;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
}

.messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
    text-align: left;
}

.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
}

.messages .message.left .text {
    color: #c48843;
}

.messages .message.right .avatar {
    background-color: #fdbf68;
    float: right;
}

.messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    text-align: right;
}

.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
}

.messages .message.right .text {
    color: #45829b;
}

.messages .message.appeared {
    opacity: 1;
}

.messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}

.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
}

.message-input {
    border-radius: 25px;
    border: 1px solid #bcbdc0;
}
.button-send-message{
    border-radius: 50px;
    background-color: #a3d063;
    color: #fff;
    cursor: pointer;
}

.bottom_wrapper {
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
}

.avatar {
    border: 2px solid #ffffff;
    box-sizing: initial;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.avatar, .avatar img {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 30px; /* Saf3+, Chrome */
    border-radius: 30px; /* Opera 10.5, IE 9 */
}


.box {
    background: #fff;
    margin-bottom: 15px;
    padding: 5px;
}

@media only screen and (min-width: 768px) {
    .box {
        border-radius: 3px;
        border: 1px solid #e0e3e9
    }
}

.box__header {
    padding: 5px;
    border-bottom: 1px solid #ebeef2
}

@media only screen and (min-width: 768px) {
    .box__header {
        padding: 10px 10px 10px 22px;
    }
}

.box__header--mobile {
    background: #2e9fff;
    color: #fff;
    position: relative;
    padding: 15px 7.5px
}

.box__header--mobile h2 {
    text-align: center
}

.box__header--mobile .icon-left-bracket {
    font-size: 15px
}

.box__header--mobile-back {
    color: #fff;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%
}

.box__content {
    padding: 15px 15px 30px
}

@media only screen and (min-width: 768px) {
    .box__content {
        padding: 22.5px 22.5px 30px
    }
}

.box__footer {
    padding: 15px;
    border-top: 1px solid #ebeef2
}

@media only screen and (min-width: 768px) {
    .box__footer {
        padding: 22.5px
    }
}

.box__footer .button {
    transition: all .1s ease-in-out
}

.box-heading {
    font-size: 22px;
    font-weight: 500
}
