<div id="content-wrapper">
    <div class="page-content">
        <section class="header" id="started">
            <div class="row">
                <div class="promotion">
                    <div class="column align-self-middle">
                        <img src="/assets/images/logo.png" id="logo" width="300px"/>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div>
                                <div>
                                    <span class="glyphicon glyphicon-chevron-down" style="font-size: xx-large"></span>
                                </div>
                                <button class="btn handshake-button" ng-click="askForHandshake()"
                                        ng-if="!handshakeInProgress">
                                    T connecta liya m3a chi wahad
                                    <i class="glyphicon glyphicon-send"></i>
                                </button>
                                <div>
                                    <span>Users online:</span> {{members.onLine}}
                                    <span>Members total:</span> {{members.total}}
                                </div>
                            </div>
                            <div ng-if="handshakeInProgress">
                                <p> Afgour kay9lab lik 3la chi wahad tahdar m3ah</p>
                                <img class="form-pam ghost"src="/assets/images/pam.png"
                                     width="200px">
                            </div>
                        </div>
                        <div class="col-md-2" ng-if="!handshakeInProgress">
                            <br>
                            <img class="hidden-xs hidden-sm hidden-md" src="/assets/images/arrow2.png">
                            <h3> Bark hna bach tahdar m3a chi wahad daba </h3>
                            <p>"ta9dar tla9a m3a chi had i9dar i3jbak ^^ "</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div><!-- End Page Content -->
</div>
