<div id="content-wrapper">
    <div class="page-content">
        <section class="header">

            <div class="row">
                <div>
                    <div class="column align-self-middle">
                        <img src="/assets/images/logo.png" id="logo" width="200px"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <br>
                    <h5>Tu veux savoir c'est qui dériere la photo ?</h5>
                    <p>hum , cette personne a attiré ton attention et tu as envie de voir son visage,
                        juste demande :)
                    </p>
                    <img class="hidden-xs hidden-sm hidden-md" src="/assets/images/arrow1.png"/>
                </div>

                <div class="col-md-2">
                    <div class="box">
                        <img ng-src="{{partner.image}}" width="180" height="180" class="img-thumbnail">
                        <div class="caption">
                            <h4><a href="{{partner.facebook}}" target="_blank"> {{partner.name}} </a></h4>
                            <p><a ng-click="sendShowIdentityRequest()"
                                  ng-if="identityRequest==false && !identityRequestSent"
                                  class="btn btn-primary">
                                Afficher ta photo
                            </a>
                            </p>
                        </div>
                        <div class="caption">
                            <p>
                                <a class="btn btn-warning" ng-if="identityRequest==true"
                                   ng-click="acceptIdentityRequest()">9abl tbayan tswirtak ?</a></p>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="chat_window">
                        <div class="top_menu">
                            <span class="title">Chat</span>
                            <button class="pull-right btn-warning"
                                    ng-click="endHandshake()">
                                <i class="glyphicon glyphicon-remove"></i>
                                Quitter la discussion
                            </button>
                        </div>
                        <ul class="messages">
                            <li class="message appeared"
                                ng-repeat="message in messagesList"
                                ng-class="::{'left':message.from,'right':!message.from}">
                                <div class="avatar">
                                    <img ng-src="/assets/images/logo.png" ng-if="::!message.from"/>
                                    <img ng-src="/assets/images/pam.png" ng-if="::message.from"/>
                                </div>
                                <div class="text_wrapper">
                                    <div class="text">{{::message.content}}</div>
                                </div>
                            </li>
                            <div class="alert alert-warning" ng-if="handshakeLost">
                                <strong> Oops! , ton partenaire a quitter la discution </strong>
                                <p>
                                    <a ui-sref="home">Peut-être vous voulez essayer à nouveau, cliquez ici pour
                                        redémarrer.</a>
                                </p>
                            </div>
                        </ul>
                        <div class="bottom_wrapper clearfix">
                            <form ng-submit="sendMessage()">
                                <fieldset ng-disabled="handshakeLost">
                                    <div class="input-group">
                                        <input type="text" class="form-control message-input"
                                               placeholder="Ecrire un message"
                                               ng-model="message.content">
                                      <span class="input-group-btn">
                                        <button class="btn button-send-message"
                                                ng-submit="sendMessage()"
                                                type="submit">Send</button>
                                      </span>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- End Page Content -->
</div>
