<div id="content-wrapper">
    <div class="page-content">
        <section class="header">
            <div id="browser-window">
                <div id="viewport">
                    <div id="viewport-content">
                        <div class="bubble-container" ng-repeat="message in messagesList">
                            <div class="avatar" ng-class="{'avatar-left':message.form,'avatar-right':!message.form}">
                                <img src="/assets/images/unknown.png" />
                            </div>
                            <div class="bubble" ng-class="{'bubble-left':message.form,'bubble-right':!message.form}">
                                {{message.content}}
                            </div>
                        </div>
                    </div>
                </div>

                <form class="row-chat" ng-submit="sendMessage()">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="message.content" placeholder="Type your message" />

                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="">Send</button>
                </span>
                    </div>

                </form>
            </div>
        </section>
    </div><!-- End Page Content -->
</div>



